@{ 
    ViewBag.Title = "Home Page";
}

<h3>The world</h3>

<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div><input type="submit" value="Add" /></div>
</form>
