<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div id="sidebar">
        <img src="~/img/img_0430.jpg" alt="user image" class="headshot" />
        <span id="username">Brijesh Chawla</span>
        <ul class="menu">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
        </ul>
    </div>

    <div id="wrapper">
        <div id="main">
            <div>
                <button id="menuToggle">Toggle Menu</button>
            </div>
            @RenderBody()
        </div>

        <div id="footer">
            &copy; 2017 Brijesh Chawla
        </div>

    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

</body>
